<h1 class="text-center mt-3" style="font-size: 47px; color: white;"><%= @cocktail.name %></h1>
<div class="container-fluid row  m-auto">

  <div class="card bg-secondary text-center col-12 col-lg-9" data-aos="zoom-in-up" style="max-width: 60%;">
    <div class="card-header"><%= @cocktail.name %></div>
        <div class="card-body">
          <h4 class="card-title">Ingredient :</h4>
    <% if !@cocktail.doses[0].nil? %>   
      <% @cocktail.doses.each do |dose| %>
          <p class="card-text"><%= dose.description %> | <%= dose.ingredient.name%> 
          <%= link_to dose_path(dose), method: "delete" do %>
          <i class="fas fa-times"></i> <% end %></p>
      <% end %>
    <% end %>
    </div>
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary" %>
  </div>
  <div class="col-12 col-lg-3 m-auto pb-3" data-aos="fade-up" style="margin-top: 50px; background-color: #BEB8B8; border-radius: 3px;">
    <h5 class="text-center mt-2" style="color: #626262">Add Ingredient</h5>
    <hr>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description, label: "Dose" %>
    <%= f.association :ingredient %>
    <button type="submit" class="btn btn-secondary col-12">Add Ingredient</button>
    <% end %>
  </div>
</div>

