<h1 class=" mt-3 text-center" style="font-size: 54px; color: white;"><%= @cocktail.name %></h1>
<div class="container-fluid row  m-auto" >

  <div class="card bg-secondary text-center col-12 col-lg-9 ml-3" style="max-width: 60%;">
    <div class="card-header"><%= @cocktail.name %></div>
        <div class="card-image">
          <%= cl_image_tag @cocktail.photo.key, class: "card-img-top img-rounded" ,crop: :fill %>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center" style="font-weight bolder; font-size: 27px;">Ingredient :</h4>
    <% if !@cocktail.doses[0].nil? %>   
      <% @cocktail.doses.each do |dose| %>
          <p style="font-weight: bolder;" class="card-text"><%= dose.description %> | <%= dose.ingredient.name%> 
          <%= link_to dose_path(dose), method: "delete", class: "delete-dose" do %>
          <i class="fas fa-times"></i> <% end %></p>
          <div id="delete"></div>
      <% end %>
    <% end %>
    </div>
    <%= link_to "Add review !", new_cocktail_review_path(@cocktail), class: "btn btn-secondary" %>
  </div>
  <div class="card col-6 col-lg-3 m-5" data-aos="fade-left" style="background-color: #6C757D;">
      <div class= "card-header" style="color: white; text-align: center">
        <h4>Reviews</h4>
      </div>
      <ul class="list-group list-group-flush">
        <% @cocktail.reviews.each do |review| %>
          <li class="list-group-item ml-1 mb-3" style="border-radius: 5px; box-shadow: 0px 0px 5px white;"> 
            <%= review.content %> 
            <%= "â­" * review.rating %>
          </li>
        <% end %>
      </ul>
  </div>
  

</div>
<div class="col-12 col-lg-5 mr-auto ml-auto mt-5 mb-4 pb-3 form-dose" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="2300" style="margin-top: 50px; background-color: #BEB8B8; border-radius: 3px;">
    <h5 class="text-center mt-2 " style="color: #626262">Add Ingredient</h5>
    <hr>
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :description, label: "Dose" %>
    <%= f.association :ingredient %>
    <button type="submit" class="btn btn-secondary col-12">Add Ingredient</button>
    <% end %>
  </div>
